<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="helloBoys"
          class="jp.blackawa.examples.HelloBoys"/>
    <bean id="helloGirls"
          class="jp.blackawa.examples.HelloGirls"/>

    <bean id="helloService"
          class="jp.blackawa.examples.HelloService">
        <property name="hello" ref="helloGirls" />
    </bean>
</beans>