<!doctype html>
<html>
  <head>
  </head>
  <body>
    <div id="app">
      {{ msg }}
    </div>
    <div id="app-2">
      <span v-bind:title="message">
        hover your mouse over me for a few seconds to see my dynamically bound title!
      </span>
    </div>
    <div id="app-3">
      <span v-if="seen">Now you see me</span>
    </div>
    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>
    <div id="app-7">
      <ul>
        <todo-item v-for="todo in todos" v-bind:todo="todo"></todo-item>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var app = new Vue({
          el: '#app',
          data: {
              msg: 'Hello Vue!'
          },
      });
      var app2 = new Vue({
          el: '#app-2',
          data: {
              message: 'You loaded this page on ' + new Date().toLocaleString()
          }
      });
      var app3 = new Vue({
          el: '#app-3',
          data: {
              seen: true
          }
      });
      var app5 = new Vue({
          el: '#app-5',
          data: {
              message: 'Hello Vue.js!'
          },
          methods: {
              reverseMessage: function() {
                  this.message = this.message.split('').reverse().join('')
              }
          }
      });
      var app6 = new Vue({
          el: '#app-6',
          data: {
              message: 'Hello vue!'
          }
      });
      Vue.component('todo-item', {
          props: ['todo'],
          template: '<li>{{ todo }}</li>'
      });
      var app7 = new Vue({
          el: '#app-7',
          data: {
              todos: ['a', 'b', 'c']
          }
      });
    </script>
  </body>
</html>
