service cloud.firestore {
  match /databases/{database}/documents {
    match /tasks/{task} {
      allow read, update, delete: if request.auth.uid == resource.data.authorId;
      allow create: if request.auth.uid != null;
    }
  }
}