{:rum.devcards.component/figwheel
 {:builds
  [{:id "dev"
    :figwheel true
    :source-paths ["dev/src" "src/cljs"]
    :build-options
    {:main rum.devcards.main
     :output-to "/resources/public/js/bundle.js"
     :output-dir "/resources/public/js"
     :asset-path "/js"
     :closure-defines {'goog.DEBUG true}
     :verbose false
     :optimizations :none}}]}}
